#component-container
{
    height: 100vh;
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0px;
    position: relative;
}
#hder
{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    position: relative;
}
#x
{
    position: absolute;
    cursor: pointer;
    left: 950px;
}
#form-contain
{
    width: 1000px;
    height: 565px;
    background-color:rgba(255, 255, 255, 0.82);
    border-radius: 10px;
    position: absolute;
    top: 70px;
    left: 250px;
    
}
    

#section-container
{
    display: flex;
    flex-flow: row wrap;
}
#s1
{
    margin-left: 20px;
}
#h2
{
    text-align: center;
}
#evt-name
{
    margin-left: 30px;
}
#form-container #event-name
{
 width: 400px;
 height: 30px;
}
.ib
{
    display: inline-block;
}
#proposal-type
{
    margin-left: 30px;
}
#event-place
{
    margin-left: 30px; 
}
#event-type
{
    margin-left: 30px;   
    margin-top: 30px;
}
#budget
{
    margin-left: 30px;
}
#from-date
{
    margin-left: 30px;
    margin-top: 20px;
}
#To-date
{
    margin-left: 30px;
    margin-top: 20px;
}
#description
{
    margin-left: 30px;
    margin-top: 20px;
}
#form-contain #Description
{
    width: 400px;
    height: 100px;
}
#Preferances
{ 
    width: 400px;
    height: 60px;
}
#Food-prefer
{
    margin-left: 30px;
    margin-top: 20px; 
}
#Events
{
    margin-left: 30px;
    margin-top: 20px; 
}
#events
{
    width: 400px;
    height: 60px;   
}
#image
{
    margin-left: 30px;
    margin-top: 20px;   
}
#img-container
{
    width: 100%;
    height: 130px;
    margin-top: 20px;
}
#preview-image
{
max-width: 100%;
max-height: 100%;
}
#submit
{
   width: 70px;
   height: 30px;
   margin-left: 450px;
   background-color: #4E94F4;
   border-radius: 5px;
   padding: 0 15px;
}